In [9]:
import pandas as pd

df = pd.read_csv("../data/muestra_recetas.csv")
df

                        name  calories   fat  carbs  protein
0     1 tablespoon olive oil     376.0  21.0   24.0     23.0
1                   1 banana     205.0   9.0   30.0      5.0
2                    1 apple     210.0   8.0   39.0      3.0
3       1 baked sweet potato     149.0   6.0   17.0      7.0
4    1 grilled salmon fillet     296.0  11.0    8.0     35.0
5            1 boiled potato     262.0  10.0   28.0      7.0
6                1/2 avocado     477.0  29.0   28.0     17.0
7            1 medium carrot     375.0  24.0   24.0     18.0
8         1 tablespoon honey     294.0  15.0   36.0      6.0
9          1 turkey sandwich     403.0   6.0   51.0     37.0
10         1 hard boiled egg     644.0  29.0   72.0     31.0
11   1 tablespoon mayonnaise     312.0  17.0   24.0     11.0
12               1 slice ham     508.0  25.0   24.0     25.0
13         1 slice pineapple     354.0  11.0   62.0      4.0
14   1 tablespoon chia seeds     304.0  13.0   40.0     10.0
15       1 tablespoon butter     370.0  19.0   43.0      5.0
16   1 chocolate chip cookie     205.0  12.0   25.0      4.0
17                1 cup kale      80.0   5.0    8.0      3.0
18  1 tablespoon maple syrup     247.0   9.0   35.0      5.0
19                1 can soda     189.0  10.0   20.0      3.0
20               1 fried egg     312.0  10.0   43.0     11.0
21         1 cup tomato soup     257.0  11.0   33.0      9.0
22   1 grilled chicken thigh     683.0  38.0   46.0     40.0
23          1 bowl miso soup      80.0   3.0    8.0      5.0
24      1 bowl ramen noodles     434.0  25.0   39.0     18.0
25              1 sushi roll     129.0   1.0   24.0      6.0
26           1 protein shake     431.0  19.0   58.0      8.0
27              1 hard candy     322.0  10.0   53.0      5.0